<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监视世界中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
<div class="index-show">
    <ul>
        {% for i in dict %}
            {% if i['run'] == True %}
                <li onclick="more({{ i['id'] }})">
                    {{ i['name'] }}
                    <div run='t' class="c"></div>
                </li>
                <div class="info">
                    {{ i['memory'] }}Mb &nbsp;&nbsp;&nbsp;
                    {{ i['net'] }} port
                </div>
            {% else %}
                <li onclick="more({{ i['id'] }})">
                    {{ i['name'] }}
                    <div run='f' class="c"></div>
                </li>
            {% endif %}
            <div class="more">{{ i['more'] }}</div>


        {% endfor %}
    </ul>
</div>


<script>
    var more = function (id) {
        var x = document.getElementsByClassName('more')[id - 1];
        if (x.style.display == 'block') {
            x.style.display = 'none'
        }
        else {
            x.style.display = 'block'
        }
    }

</script>
</body>
</html>